body {
    background-color: black;
    color: white;
    font-family: Copperplate;
    user-select: none;
    -webkit-user-select: none;
}

h1 {
    font-size: 50px;
}

ul, li, h1 {
    display: inline;
    padding: 80px;

    a {
        text-decoration: none;
        font-size: 25px;
        color: white;
    }
}

/*
pseudo classes and pseudo elements
 */

nav > h1:hover {
    color: green;
    transition: ease-out 0.5s;
}

a:hover {
    text-decoration: underline;
    color: lawngreen;
    transition: ease-out 0.5s;
}