@keyframes randomMove {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(5px, 8px);
    }
    20% {
        transform: translate(15vw, 15vh);
    }
    30% {
        transform: translate(25vw, 25vh);
    }
    40% {
        transform: translate(35vw, 10vh);
    }
    50% {
        transform: translate(45vw, 20vh);
    }
    60% {
        transform: translate(55vw, 35vh);
    }
    70% {
        transform: translate(65vw, 25vh);
    }
    80% {
        transform: translate(75vw, 30vh);
    }
    90% {
        transform: translate(85vw, 10vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

.dark_ball {
    animation: randomMove 200s linear infinite;
    position: absolute;
    top: 500px;
    left: 500px;
}