@keyframes randomMove {
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(10vw, 17vh);
    }
    10% {
        transform: translate(70vw, 38vh);
    }
    15% {
        transform: translate(10vw, 36vh);
    }
    20% {
        transform: translate(20vw, 20vh);
    }
    25% {
        transform: translate(34vw, 79vh);
    }
    30% {
        transform: translate(30vw, 9vh);
    }
    35% {
        transform: translate(85vw, 24vh);
    }
    40% {
        transform: translate(56vw, 43vh);
    }
    45% {
        transform: translate(10vw, 9vh);
    }
    50% {
        transform: translate(11vw, 96vh);
    }
    55% {
        transform: translate(67vw, 34vh);
    }
    60% {
        transform: translate(90vw, 50vh);
    }
    65% {
        transform: translate(100vw, 15vh);
    }
    70% {
        transform: translate(80vw, 50vh);
    }
    75% {
        transform: translate(34vw, 23vh);
    }
    80% {
        transform: translate(30vw, 30vh);
    }
    85% {
        transform: translate(30vw, 30vh);
    }
    90% {
        transform: translate(98vw, 78vh);
    }
    95% {
        transform: translate(10vw, 90vh);
    }
    100% {
        transform: translate(70vw, 80vh);
    }
}

.dark_ball {
    position: absolute;
    animation: randomMove 200s linear infinite;
}