body {
    background-color: black;
    color: white;
    font-family: Copperplate;
}

h1 {
    font-size: 50px;
}

ul, li, h1 {
    display: inline;
    padding: 100px;

    a {
        text-decoration: none;
        font-size: 25px;
        color: white;
    }
}

#main {
    text-align: center;
    padding: 100px;

    h1 {
        font-size: 50px;
    }
}

/*
hover
 */

h1:hover {
    color: lawngreen;
    transition: ease-out 0.5s;
}

h2:hover {
    color: green;
    transition: ease-out 0.5s;
}

a:hover {
    text-decoration: underline;
    color: lawngreen;
    transition: ease-out 0.5s;
}

/*
Martian img hover
 */

.martians_hover {
    position: relative;
    display: inline-block;
}

.martian {
    display: block;
    transition: opacity 0.9s ease;
}

.martian_white {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-out 1s;
}

.martians_hover:hover .martian {
    opacity: 0;
}

.martians_hover:hover .martian_white {
    opacity: 1;
}

